.bkg-image {
  background-image: url(../assets/background.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.btn-one-container {
  display: inline;
  resize: inherit;
}
.bkg-image_zone1 {
  position: absolute;
  width: 10%;
  height: 70%;
  top: 200px;
  left: 10px;
  background-color: Transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 900px) {
  .bkg-image_zone1 {
    display: none;
  }
}

/* .btn-two-container {
  display: inline;
  top: 60px;
}
.bkg-image_zone2 {
  position: absolute;
  width: 8vw;
  height: 60vh;
  background-color: Transparent;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 750px) {
  .bkg-image_zone2 {
    display: none;
  }
} */

.header {
  font-family: 'DM Serif Display', serif;
  color: #FFFFFF;
  font-size: 100px;
  margin: 0;
  padding-left: 30px;
}

.img-one {
  position: relative;
  width: 20%;
  background-color: Transparent;
  cursor: pointer;

}