.homepage-background {
  position: absolute;
  display: block;
  overflow: visible;
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.page-load-background {
  background-image: url(../assets/new-background-big.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.header {
  font-family: 'DM Serif Display', sans-serif;
  position: relative;
  left: 20px;
  top: 20px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 14vw;
  height: 14vh;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 8px;
  color: rgba(94, 89, 84, 0.68);
  font-size: 6vw;
  line-height: 14vh;
  -o-object-fit: fill;
  object-fit: fill;
}

.header-extend {
  width: 60vw;
  color: rgba(255, 255, 255, 0.90);
}

.nav-arrow {
  position: absolute;
  top: 4%;
  right: 1%;
  opacity: 0.7;
  font-size: 4.5em;
  color: #ffffff;
}

@media screen and (max-width: 1080px) {
  .homepage-background {
    position: absolute;
    overflow: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .header {
    top: 20px;
    height: 10vh;
    padding-top: 0px;
    line-height: 10vh;
    font-family: 'DM Serif Display', sans-serif;
  }

  .nav-arrow {
    position: absolute;
    top: 4%;
    right: 1%;
    opacity: 0.7;
    font-size: 3.5em;
    color: #ffffff;
  }
}

@media screen and (max-width: 991px) {
  .homepage-background {
    position: absolute;
    overflow: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .header {
    top: 20px;
    height: 10vh;
    padding-top: 0px;
    line-height: 10vh;
    font-family: 'DM Serif Display', sans-serif;
  }

  .nav-arrow {
    position: absolute;
    top: 4%;
    right: 1%;
    opacity: 0.7;
    font-size: 4em;
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .header {
    left: 20px;
    top: 20px;
    width: 60vw;
    height: 8vh;
    line-height: 8vh;
    font-family: 'DM Serif Display', sans-serif;
  }

  .nav-arrow {
    position: absolute;
    top: 4%;
    right: 3%;
    opacity: 0.7;
    font-size: 2.5em;
    color: #ffffff;
  }
}

@media screen and (max-width: 479px) {
  .header {
    height: 5vh;
    line-height: 5vh;
    left: 3%;
    font-family: 'DM Serif Display', sans-serif;
  }

  .nav-arrow {
    position: absolute;
    top: 3%;
    right: 3%;
    opacity: 0.7;
    font-size: 2em;
    color: #ffffff;
  }
}

@media screen and (max-width: 289px) {
  .header {
    height: 5vh;
    line-height: 5vh;
    left: 3%;
    font-family: 'DM Serif Display', sans-serif;
  }

  .nav-arrow {
    position: absolute;
    top: 3.5%;
    right: 3%;
    opacity: 0.7;
    font-size: 1.6em;
    color: #ffffff;
  }
}

.hide-text {
  display: none;
}

/*----- Jared -----*/
/* .hide {
  display: none;
}

.jared-container:hover + .hide{
  display: block;
  color:white;
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  top: 7%;
  left: 5%;
  animation-duration: 1s;
  animation-name: slideUpJared;
}

@keyframes slideUpJared {
  from {
    top: 10%;
    opacity: 25%;
  }
  to {
    top: 7%;
    left: 5%;
    opacity: 100%;
  }
}

.jared-container {
  display: inline;
  white-space: nowrap;
}
.zone1 {
  width: 10%;
  height: 65%;
  top: 210px;
  left: 10px;
  background-color: Transparent;
  cursor: pointer;
  outline: none;
} */
/* 
@media screen and (max-width: 900px) {
  .zone1 {
    display: none;
  }
} */

/* ----- Matt -----*/
/* .matt-container:hover + .hide{
  display: block;
  color:white;
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  top: 14%;
  left: 22%;
  animation-duration: 1s;
  animation-name: slideUpMatt;
}

@keyframes slideUpMatt {
  from {
    top: 17%;
    opacity: 25%;
  }
  to {
    top: 14%;
    left: 22%;
    opacity: 100%;
  }
}

.matt-container {
  display: inline;
  resize: inherit;
}
.zone2 {
  width: 12%;
  height: 60%;
  top: 260px;
  left: 215px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
} */

/* @media screen and (max-width: 850px) {
  .zone2 {
    display: none;
  }
} */

/* ----- Callan -----*/
/* .callan-container:hover + .hide{
  display: block;
  color:white;
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  top: -16%;
  left: 36%;
  animation-duration: 1s;
  animation-name: slideUpCallan;
}

@keyframes slideUpCallan {
  from {
    top: -13%;
    opacity: 25%;
  }
  to {
    top: -16%;
    left: 36%;
    opacity: 100%;
  }
}

.callan-container {
  display: inline;
  resize: inherit;
}
.zone3 {
  width: 12%;
  height: 90%;
  top: 60px;
  left: 460px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
} */

/* @media screen and (max-width: 750px) {
  .zone3 {
    display: none;
  }
} */

/* ----- Zane -----*/
/* .zane-container:hover + .hide{
  display: block;
  color:white;
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  left: 83%;
  top: 8%;
  animation-duration: 1s;
  animation-name: slideUpZane;
}

@keyframes slideUpZane {
  from {
    top: 11%;
    opacity: 25%;
  }
  to {
    top: 8%;
    left: 83%;
    opacity: 100%;
  }
}

.zane-container {
  display: inline;
  resize: inherit;
}
.zone4 {
  width: 12%;
  height: 67%;
  top: 220px;
  left: 1130px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
} */

/* @media screen and (max-width: 750px) {
  .zone4 {
    display: none;
  }
}

/* ----- Kyl -----*/
/* .kyl-container:hover + .hide{
  display: block;
  color:white;
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  top: 35%;
  left: 94%;
  animation-duration: 1s;
  animation-name: slideUpKyl;
}

@keyframes slideUpKyl {
  from {
    top: 38%;
    opacity: 25%;
  }
  to {
    top: 35%;
    left: 94%;
    opacity: 100%;
  }
}

.kyl-container {
  display: inline;
  resize: inherit;
}
.zone5 {
  width: 8%;
  height: 75%;
  top: 160px;
  left: 1320px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
} */
/* 
@media screen and (max-width: 750px) {
  .zone5 {
    display: none;
  }
} */