.jared-background {
  background-image: url(../assets/jared-big.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  animation-name: pageLoadJared;
  animation-duration: 1s;
}

@keyframes pageLoadJared {
  from {
    width: 100%;
    height: 0%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}