.kyl-background {
  background-image: url(../assets/kyl.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.kyl-header {
  font-family: 'DM Serif Display', serif;
  color: #FFFFFF;
  font-size: 80px;
  margin: 0;
  padding-left: 30px;
}