.matt-background {
  background-image: url(../assets/matt-big.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  animation-name: pageLoadMatt;
  animation-duration: 1s;
}

@keyframes pageLoadMatt {
  from {
    bottom: 100%;
    height: 100%;
  }
  to {
    bottom: 0%;
    height: 100%;
  }
}